@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    font-family: Lato;
    background-color: #E55473;
    width: 177px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    color: white;
}

.first-section {
    max-width: 1920px;
   /* width: auto; */
   height: 600px;
   /* align-content: center; */
   background-color: #E554731A;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   /* gap: 500px; */
   margin: 0px auto 170px auto;
   /* margin-bottom: ; */
}

.first-section-content {
    /* margin-left: 200px; */
}


.first-section-header {
    font-family: Lato;
    font-size: 60px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 32px;
}

.first-section-para {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    color: #27272799;
    margin-bottom: 32px;
}

.first-sectiom-img {
    background-image: url(images/banner-image.png);
    width: 400px;
    height: 600px;
    background-size: cover;
}

/* Second section start */

.second-section {
    width: auto;
    height: 132px;
    text-align: center;
    margin-bottom: 45px;
    display: block;
}

.second-section-header {
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    color: black;
    margin-bottom: 24px;
}

.second-section-para {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    color: #27272799;
}

/* third swction start  */

.third-section {
    max-width: 840px;
    /* width: 840px; */
    height: 605px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 128px;
    margin-left: auto;
    margin-right: auto;
}

/* shape one */

.shape-one {
    width: 450px;
    height: 520px;
    background-color: #A7216226;
    border-radius: 50% 50% 0 0;
    text-align: center;
    margin-left: 50px;
}


.third-section-shape-one {
    width: 450px;
    height: 520px;
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 32px;
}

.third-section-img-one {
    width: 310px;
    height: 428px;
    background-image: url(images/featured1.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}



.third-section a {
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
}


/*shape 2 */
.third-section-shape-two {
    width: 450px;
    height: 520px;
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 32px;
}

.third-section-img-two {
    width: 310px;
    height: 428px;
    background-image: url(images/featured2.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

/* third shhape */
.third-section-shape-three {
    width: 450px;
    height: 520px;
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 32px;
}

.third-section-img-three {
    width: 310px;
    height: 428px;
    background-image: url(images/featured3.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}


/* fourth section start */
.fourth-section {
    width: 1440px;
    height: 150px;
    background-color: #2727270D;
    margin-bottom: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 40px;
    gap: 50px;
    margin-bottom: 128px;
}

.box1 {
   width: 272px;
   height: 147px;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.box-one-text {
    color: rgba(39, 39, 39, 0.8);
font-family: Lato;
font-size: 17px;
font-weight: 600;
}

.box2 {
    width: 272px;
   height: 147px;
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.box3 {
    width: 272px;
    height: 147px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }


 /* fifth-section */

 .fifth-section {
    max-width: 1440px;
    height: 620px;
    background-color: #E554730D;
    margin: 0px auto 128px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
   
 }
 .fifth-section-txt-btn {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 25px;
 }

.fifth-section-txt-btn h1 {
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.fifth-section-txt-btn p {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.fifth-section-txt-btn span {
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    color: #E55473;
}

 .fifth-section-img {
    width: 310px;
    height: 410px;
    background-image: url(images/sale-0ff.png);
 }
